
<div class="w-full h-full flex flex-col bg">
  <div class="flex-1">
    <div>
        <div class="app-mini-sidebar__list__item__pill"
              placement="right"
              container="body"
              ngbTooltip="Global search">
              search
        </div>
    </div>

    <div>
      <div class="app-mini-sidebar__list__item__pill"
            placement="right"
            container="body"
            ngbTooltip="Global search">
            search
      </div>
  </div>


  <div>
    <div class="app-mini-sidebar__list__item__pill"
          placement="right"
          container="body"
          ngbTooltip="Global search">
          search
    </div>
  </div>


  </div>
</div>
